{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Yobel SCM</h1>
        <p>About</p>
    </div>

    <div class="col-4">
        <img src="assets/images/Logo_Yobel_Negro.jpg" class="img-thumbnail">
    </div>
</div>


{{>footer}}
